In [1]:
import pandas as pd
pd.set_option('mode.chained_assignment',  None) # Warning 방지용
import numpy as np

data = pd.read_csv('./final/lotteria.csv', index_col=0, encoding='UTF-8', engine='python')

data.head() #작업내용 확인용 출력

In [2]:
addr = pd.DataFrame(data['주소'].apply(lambda v: v.split()[:2]).tolist(),columns=('시도', '군구'))

addr.head()  #작업내용 확인용 출력

In [3]:
addr['시도'].unique()

In [4]:
addr[addr['시도'] == '감일백제로']

In [5]:
addr.iloc[57] = ['경기도', '하남시']
addr.iloc[57]

In [6]:
addr[addr['시도'] == '굽은다리역']

In [7]:
addr.iloc[60] = ['서울특별시','강동구']
addr.iloc[60]

In [8]:
addr[addr['시도'] == '진안군']

      시도   군구
156  진안군  진안읍

In [9]:
addr.iloc[156] = ['전라북도', '진안군']

In [10]:
addr[addr['시도'] == '인천공항']

       시도       군구
211  인천공항  제2여객터미널

In [11]:
addr.iloc[211] = ['인천광역시', '중구']
addr.iloc[211]

시도    인천광역시
군구       중구
Name: 211, dtype: object

In [12]:
addr[addr['시도'] == '동대문구']

       시도    군구
280  동대문구  천호대로
366  동대문구   이문동

In [13]:
addr.iloc[280] = ['서울특별시', '동대문구']
addr.iloc[366] = ['서울특별시', '동대문구']

In [14]:
addr[addr['시도'] == '경남남도']

       시도   군구
479  경남남도  함안군

In [15]:
addr.iloc[479] = ['경상남도', '함안군']

In [16]:
addr[addr['시도'] == '지하철']

      시도   군구
674  지하철  3호선

In [17]:
addr.iloc[674] = ['부산광역시', '동래구']

In [18]:
addr['시도'].unique()

array(['경기', '경남', '전남', '인천', '부산', '울산', '강원', '충남', '제주', '서울', '대구',
       '경북', '대전', '충북', '경기도', '서울특별시', '세종', '광주', '전북', '충청북도', '경상남도',
       '전라북도', '인천광역시', '부산광역시', '문경새재도립공원', '번동사거리', '대전시', '롯데마트',
       '동해시', '중곡동', '대전광역시', '강남역', '방학', '광혜원시외버스정류장', '성수역1번출구', '서울시',
       '용인시', '홈배달', '수완지구', '별곡리', '부산시', '백마역', '2호선', '청량리역3번출구',
       '충청남도', '회룡역', '진건초등학교', '두정역에서', '죽곡', '주례역', '야탑역4번출구', '창원시',
       '대우자동차', '동암남로', '광주광역시', '화성시', '단계동', '까치산역3번출구에서', '잠실', '천안시',
       '모래내시장', '남항동', '순천연향동', '논산', '부천시', '금촌역', '강원도', '제천시'],
      dtype=object)

In [19]:
addr[addr['시도'] == '문경새재도립공원']

           시도     군구
514  문경새재도립공원  관리사무소

In [20]:
addr.iloc[514] = ['경상북도', '문경시']

In [21]:
addr[addr['시도'] == '번동사거리']

        시도     군구
538  번동사거리  현대주유소

In [22]:
addr.iloc[538] = ['서울특별시', '강북구']

In [23]:
addr[addr['시도'] == '롯데마트']

       시도   군구
628  롯데마트  천천점

In [24]:
addr.iloc[628] = ['경기도', '수원시']

In [25]:
addr[addr['시도'] == '용인시']

      시도   군구
722  용인시  수지구

In [26]:
addr.iloc[722] = ['경기도', '용인시']

In [27]:
addr[addr['시도'] == '홈배달']

      시도      군구
728  홈배달  가능합니디.

In [28]:
addr.iloc[728] = ['경기도', '수원시']

In [29]:
addr[addr['시도'] == '수완지구']

       시도    군구
735  수완지구  신한은행

In [30]:
addr.iloc[735] = ['광주광역시', '광산구']

In [31]:
addr[addr['시도'] == '별곡리']

      시도     군구
738  별곡리  331번지

In [32]:
addr.iloc[738] = ['충청북도', '단양군']

In [33]:
addr['시도'].unique()

array(['경기', '경남', '전남', '인천', '부산', '울산', '강원', '충남', '제주', '서울', '대구',
       '경북', '대전', '충북', '경기도', '서울특별시', '세종', '광주', '전북', '충청북도', '경상남도',
       '전라북도', '인천광역시', '부산광역시', '경상북도', '대전시', '동해시', '중곡동', '대전광역시',
       '강남역', '방학', '광혜원시외버스정류장', '성수역1번출구', '서울시', '광주광역시', '부산시', '백마역',
       '2호선', '청량리역3번출구', '충청남도', '회룡역', '진건초등학교', '두정역에서', '죽곡', '주례역',
       '야탑역4번출구', '창원시', '대우자동차', '동암남로', '화성시', '단계동', '까치산역3번출구에서',
       '잠실', '천안시', '모래내시장', '남항동', '순천연향동', '논산', '부천시', '금촌역', '강원도',
       '제천시'], dtype=object)

In [34]:
addr[addr['시도'] == '동해시']

      시도   군구
634  동해시  쇄운동

In [35]:
addr.iloc[634] = ['강원도', '동해시']

In [36]:
addr[addr['시도'] == '중곡동']

      시도  군구
661  중곡동  중마

In [37]:
addr.iloc[661] = ['서울특별시', '광진구']

In [38]:
addr[addr['시도'] == '강남역']

      시도    군구
676  강남역  9번이나

In [39]:
addr.iloc[676] = ['서울특별시', '강남구']

In [40]:
addr[addr['시도'] == '방학']

     시도     군구
679  방학  4거리에서

In [41]:
addr.iloc[679] = ['서울특별시', '도봉구']

In [42]:
addr[addr['시도'] == '광혜원시외버스정류장']

             시도   군구
692  광혜원시외버스정류장  맞은편

In [43]:
addr.iloc[692] = ['충청북도', '진천군']

In [44]:
addr[addr['시도'] == '성수역1번출구']

          시도    군구
698  성수역1번출구  150m

In [45]:
addr.iloc[698] = ['서울특별시', '성동구']

In [46]:
addr[addr['시도'] == '백마역']

      시도    군구
787  백마역  None

In [47]:
addr.iloc[787] = ['서울특별시', '고양시']

In [48]:
addr[addr['시도'] == '2호선']

      시도   군구
881  2호선  신림역

In [49]:
addr.iloc[881] = ['서울특별시', '관악구']

In [50]:
addr['시도'].unique()

array(['경기', '경남', '전남', '인천', '부산', '울산', '강원', '충남', '제주', '서울', '대구',
       '경북', '대전', '충북', '경기도', '서울특별시', '세종', '광주', '전북', '충청북도', '경상남도',
       '전라북도', '인천광역시', '부산광역시', '경상북도', '대전시', '강원도', '대전광역시', '서울시',
       '광주광역시', '부산시', '청량리역3번출구', '충청남도', '회룡역', '진건초등학교', '두정역에서', '죽곡',
       '주례역', '야탑역4번출구', '창원시', '대우자동차', '동암남로', '화성시', '단계동',
       '까치산역3번출구에서', '잠실', '천안시', '모래내시장', '남항동', '순천연향동', '논산', '부천시',
       '금촌역', '제천시'], dtype=object)

In [51]:
addr[addr['시도'] == '청량리역3번출구']

           시도     군구
884  청량리역3번출구  (민자역사

In [52]:
addr.iloc[884] = ['서울특별시', '동대문구']

In [53]:
addr[addr['시도'] == '회룡역']

      시도    군구
915  회룡역  1번출구

In [54]:
addr.iloc[915] = ['경기도', '의정부시']

In [55]:
addr[addr['시도'] == '진건초등학교']

         시도   군구
930  진건초등학교  맞은편

In [56]:
addr.iloc[930] = ['경기도', '남양주시']

In [57]:
addr[addr['시도'] == '두정역에서']

        시도     군구
981  두정역에서  100M,

In [58]:
addr.iloc[981] = ['충청남도', '천안시']

In [59]:
addr[addr['시도'] == '죽곡']

      시도    군구
1011  죽곡  우리은행

In [60]:
addr.iloc[1011] = ['대구광역시', '달성군']

In [61]:
addr[addr['시도'] == '주례역']

       시도    군구
1014  주례역  1번출구

In [62]:
addr.iloc[1014] = ['대구광역시', '사상구']

In [63]:
addr[addr['시도'] == '야탑역4번출구']

           시도    군구
1017  야탑역4번출구  야탑광장

In [64]:
addr.iloc[1017] = ['경기도', '성남시']

In [65]:
addr[addr['시도'] == '창원시']

       시도   군구
1031  창원시  의창구

In [66]:
addr.iloc[1031] = ['경상남도', '창원시']

In [67]:
addr['시도'].unique()

array(['경기', '경남', '전남', '인천', '부산', '울산', '강원', '충남', '제주', '서울', '대구',
       '경북', '대전', '충북', '경기도', '서울특별시', '세종', '광주', '전북', '충청북도', '경상남도',
       '전라북도', '인천광역시', '부산광역시', '경상북도', '대전시', '강원도', '대전광역시', '서울시',
       '광주광역시', '부산시', '충청남도', '대구광역시', '대우자동차', '동암남로', '화성시', '단계동',
       '까치산역3번출구에서', '잠실', '천안시', '모래내시장', '남항동', '순천연향동', '논산', '부천시',
       '금촌역', '제천시'], dtype=object)

In [68]:
addr[addr['시도'] == '대우자동차']

         시도  군구
1035  대우자동차  서문

In [69]:
addr.iloc[1035] = ['인천광역시', '부평구']

In [70]:
addr[addr['시도'] == '동암남로']

        시도 군구
1060  동암남로  5

In [71]:
addr.iloc[1060] = ['인천광역시', '부평구']

In [72]:
addr[addr['시도'] == '화성시']

       시도   군구
1076  화성시  남양동

In [73]:
addr.iloc[1076] = ['경기도', '화성시']

In [74]:
addr[addr['시도'] == '단계동']

       시도     군구
1088  단계동  원예하나로

In [75]:
addr.iloc[1088] = ['강원도', '원주시']

In [76]:
addr[addr['시도'] == '까치산역3번출구에서']

              시도    군구
1102  까치산역3번출구에서  50미터

In [77]:
addr.iloc[1102] = ['서울특별시', '강서구']

In [78]:
addr[addr['시도'] == '잠실']

      시도    군구
1127  잠실  키자니아

In [79]:
addr.iloc[1127] = ['서울특별시', '송파구']

In [80]:
addr[addr['시도'] == '천안시']

       시도   군구
1176  천안시  서북구

In [81]:
addr.iloc[1176] = ['충청남도', '천안시']

In [82]:
addr[addr['시도'] == '모래내시장']

         시도       군구
1190  모래내시장  입구,롯데캐슬

In [83]:
addr.iloc[1190] = ['인천광역시', '남동구']

In [84]:
addr[addr['시도'] == '남항동']

       시도  군구
1199  남항동  농협

In [85]:
addr.iloc[1199] = ['부산광역시', '영도구']

In [86]:
addr[addr['시도'] == '순천연향동']

         시도  군구
1212  순천연향동  동부

In [87]:
addr.iloc[1212] = ['전라남도', '순천시']

In [88]:
addr[addr['시도'] == '논산']

      시도   군구
1247  논산  터미널

In [89]:
addr.iloc[1247] = ['충청남도', '논산시']

In [90]:
addr[addr['시도'] == '부천시']

       시도   군구
1252  부천시  오정구

In [91]:
addr.iloc[1252] = ['경기도', '부천시']

In [92]:
addr[addr['시도'] == '금촌역']

       시도     군구
1267  금촌역  일방통행길

In [93]:
addr.iloc[1267] = ['경기도', '파주시']

In [94]:
addr[addr['시도'] == '제천시']

       시도     군구
1302  제천시  중앙로1가

In [95]:
addr.iloc[1302] = ['충청북도', '제천시']

In [96]:
addr['시도'].unique()

array(['경기', '경남', '전남', '인천', '부산', '울산', '강원', '충남', '제주', '서울', '대구',
       '경북', '대전', '충북', '경기도', '서울특별시', '세종', '광주', '전북', '충청북도', '경상남도',
       '전라북도', '인천광역시', '부산광역시', '경상북도', '대전시', '강원도', '대전광역시', '서울시',
       '광주광역시', '부산시', '충청남도', '대구광역시', '전라남도'], dtype=object)

In [97]:
addr_aliases = {'대전시':'대전광역시', '서울시':'서울특별시', '부산시':'부산광역시','경기':'경기도', '경남':'경상남도', '경북':'경상북도', '충북':'충청북도', '인천':'인천광역시', '서울':'서울특별시', '강원':'강원도', '울산':'울산광역시', '대구':'대구광역시', '광주':'광주광역시', '부산':'부산광역시', '대전':'대전광역시', '충남':'충청남도', '전남':'전라남도', '전북':'전라북도', '세종':'세종특별자치시','제주':'제주특별자치도'}

In [98]:
addr['시도']= addr['시도'].apply(lambda v: addr_aliases.get(v, v))

In [99]:
addr['시도'].unique()

array(['경기도', '경상남도', '전라남도', '인천광역시', '부산광역시', '울산광역시', '강원도', '충청남도',
       '제주특별자치도', '서울특별시', '대구광역시', '경상북도', '대전광역시', '충청북도', '세종특별자치시',
       '광주광역시', '전라북도'], dtype=object)

In [100]:
addr['군구'].unique()

array(['안성시', '창원시', '평택시', '순천시', '남구', '동래구', '고양시', '북구', '양산시', '광주시',
       '춘천시', '부평구', '가평군', '아산시', '수원시', '여수시', '서귀포시', '양천구', '달서구',
       '진주시', '영암군', '안산시', '의정부시', '용인시', '김해시', '포항시', '김포시', '광명시',
       '문경시', '서초구', '서구', '원주시', '무안군', '시흥시', '연수구', '서천군', '청주시',
       '남양주시', '화성시', '하남시', '동구', '마포구', '강동구', '논산시', '한누리대로', '천안시',
       '사하구', '충주시', '안양시', '구미시', '양양군', '제주시', '홍천군', '전주시', '이천시',
       '중구', '은평구', '강서구', '용산구', '산청군', '군포시', '마음안1로', '서대문구', '거제시',
       '달성군', '수성구', '과천시', '진도군', '영등포구', '평창군', '당진시', '성남시', '의령군',
       '남동구', '제천시', '부천시', '광산구', '익산시', '진안군', '경산시', '서산시', '파주시',
       '밀양시', '노원구', '성동구', '안동시', '의성군', '금정구', '곡성군', '해운대구', '강남구',
       '부산진구', '영주시', '음성군', '금천구', '송파구', '구리시', '관악구', '수영구', '동대문구',
       '장수군', '경주시', '보성군', '울릉군', '속초시', '인제군', '양주시', '울주군', '유성구',
       '옹진군', '오산시', '중랑구', '정읍시', '의왕시', '동작구', '고성군', '도움1로', '함평군',
       '김천시', '홍성군', '보령시', '부강면', '구례군', '청원군', '강북구', '당진군', '구로구',
       '강릉시', '여주군', '기장군', '나주시금천면', '장성군장성읍', '사상구', '봉화군', '연기면',
       '하동군', '성북구', '양평군', '금남면', '고령군', '연제구', '고흥군고흥읍', '순창군',
       '논산시연무읍', '임실군임실읍', '창녕군남지읍', '광진구', '완주군', '담양군', '함안군', '영천시',
       '부안군', '성주군', '화천군', '강진군', '부여군', '장흥군', '군산시', '대덕구', '도봉구',
       '계양구', '여주시', '동두천시', '진구', '목포시', '남원시', '정선군', '종로구', '동해시',
       '철원군', '무주군', '괴산군', '포천시', '영광군', '청양군', '광양시', '진천군', '아산신',
       '완도군', '단양군', '함양군', '통영시', '화순군', '을주군', '광역시', '태백시', '조치원읍',
       '영덕군', '칠곡군', '고창군', '청도군', '영월군', '횡성군', '옥천군', '예천군', '양구군',
       '합천군', '종로2가', '창녕군', '구로', '강화군', '울진군', '사천시', '삼척시', '공주시',
       '해남군', '태안군', '계룡시', '연천군', '남양주시화도읍', '나주시', '남해군', '금산군', '영동군',
       '증평군', '영도구', '김제시', '거창군', '예산군', '보은군', '상주시'], dtype=object)

In [101]:
addr[addr['군구'] == '한누리대로']

          시도     군구
63   세종특별자치시  한누리대로
107  세종특별자치시  한누리대로
120  세종특별자치시  한누리대로

In [102]:
addr.iloc[63] = ['세종특별자치시', '세종시']
addr.iloc[107] = ['세종특별자치시', '세종시']
addr.iloc[120] = ['세종특별자치시', '세종시']

In [103]:
addr[addr['군구'] == '마음안1로']

          시도     군구
106  세종특별자치시  마음안1로

In [104]:
addr.iloc[106] = ['세종특별자치시', '세종시']

In [105]:
addr[addr['군구'] == '도움1로']

          시도    군구
315  세종특별자치시  도움1로

In [106]:
addr.iloc[315] = ['세종특별자치시', '세종시']

In [107]:
addr[addr['군구'] == '나주시금천면']

       시도      군구
391  전라남도  나주시금천면

In [108]:
addr.iloc[391] = ['전라남도', '나주시']

In [109]:
addr[addr['군구'] == '장성군장성읍']

       시도      군구
393  전라남도  장성군장성읍

In [110]:
addr.iloc[393] = ['전라남도', '장성군']

In [111]:
addr[addr['군구'] == '연기면']

          시도   군구
398  세종특별자치시  연기면

In [112]:
addr.iloc[398] = ['세종특별자치시', '세종시']

In [113]:
addr[addr['군구'] == '금남면']

          시도   군구
410  세종특별자치시  금남면

In [114]:
addr.iloc[410] = ['세종특별자치시', '세종시']

In [115]:
addr[addr['군구'] == '고흥군고흥읍']

       시도      군구
429  전라남도  고흥군고흥읍

In [116]:
addr.iloc[429] = ['전라남도', '고흥군']

In [117]:
addr[addr['군구'] == '논산시연무읍']

       시도      군구
443  충청남도  논산시연무읍

In [118]:
addr.iloc[443] = ['충청남도', '논산시']

In [119]:
addr[addr['군구'] == '임실군임실읍']

       시도      군구
452  전라북도  임실군임실읍

In [120]:
addr.iloc[452] = ['전라남도', '임실군']

In [121]:
addr['군구'].unique()

array(['안성시', '창원시', '평택시', '순천시', '남구', '동래구', '고양시', '북구', '양산시', '광주시',
       '춘천시', '부평구', '가평군', '아산시', '수원시', '여수시', '서귀포시', '양천구', '달서구',
       '진주시', '영암군', '안산시', '의정부시', '용인시', '김해시', '포항시', '김포시', '광명시',
       '문경시', '서초구', '서구', '원주시', '무안군', '시흥시', '연수구', '서천군', '청주시',
       '남양주시', '화성시', '하남시', '동구', '마포구', '강동구', '논산시', '세종시', '천안시',
       '사하구', '충주시', '안양시', '구미시', '양양군', '제주시', '홍천군', '전주시', '이천시',
       '중구', '은평구', '강서구', '용산구', '산청군', '군포시', '서대문구', '거제시', '달성군',
       '수성구', '과천시', '진도군', '영등포구', '평창군', '당진시', '성남시', '의령군', '남동구',
       '제천시', '부천시', '광산구', '익산시', '진안군', '경산시', '서산시', '파주시', '밀양시',
       '노원구', '성동구', '안동시', '의성군', '금정구', '곡성군', '해운대구', '강남구', '부산진구',
       '영주시', '음성군', '금천구', '송파구', '구리시', '관악구', '수영구', '동대문구', '장수군',
       '경주시', '보성군', '울릉군', '속초시', '인제군', '양주시', '울주군', '유성구', '옹진군',
       '오산시', '중랑구', '정읍시', '의왕시', '동작구', '고성군', '함평군', '김천시', '홍성군',
       '보령시', '부강면', '구례군', '청원군', '강북구', '당진군', '구로구', '강릉시', '여주군',
       '기장군', '나주시', '장성군', '사상구', '봉화군', '하동군', '성북구', '양평군', '고령군',
       '연제구', '고흥군', '순창군', '임실군', '창녕군남지읍', '광진구', '완주군', '담양군', '함안군',
       '영천시', '부안군', '성주군', '화천군', '강진군', '부여군', '장흥군', '군산시', '대덕구',
       '도봉구', '계양구', '여주시', '동두천시', '진구', '목포시', '남원시', '정선군', '종로구',
       '동해시', '철원군', '무주군', '괴산군', '포천시', '영광군', '청양군', '광양시', '진천군',
       '아산신', '완도군', '단양군', '함양군', '통영시', '화순군', '을주군', '광역시', '태백시',
       '조치원읍', '영덕군', '칠곡군', '고창군', '청도군', '영월군', '횡성군', '옥천군', '예천군',
       '양구군', '합천군', '종로2가', '창녕군', '구로', '강화군', '울진군', '사천시', '삼척시',
       '공주시', '해남군', '태안군', '계룡시', '연천군', '남양주시화도읍', '남해군', '금산군', '영동군',
       '증평군', '영도구', '김제시', '거창군', '예산군', '보은군', '상주시'], dtype=object)

In [122]:
addr[addr['군구'] == '창녕군남지읍']

       시도      군구
458  경상남도  창녕군남지읍

In [123]:
addr.iloc[458] = ['경상남도', '창녕군']

In [124]:
addr[addr['군구'] == '조치원읍']

          시도    군구
862  세종특별자치시  조치원읍
907  세종특별자치시  조치원읍

In [125]:
addr.iloc[862] = ['세종특별자치시', '세종시']
addr.iloc[907] = ['세종특별자치시', '세종시']

In [126]:
addr[addr['군구'] == '종로2가']

         시도    군구
1001  서울특별시  종로2가

In [127]:
addr.iloc[1001] = ['서울특별시', '종로구']

In [128]:
addr[addr['군구'] == '남양주시화도읍']

       시도       군구
1156  경기도  남양주시화도읍

In [129]:
addr.iloc[1156] = ['경기도', '남양주시']

In [130]:
addr['군구'].unique()

array(['안성시', '창원시', '평택시', '순천시', '남구', '동래구', '고양시', '북구', '양산시', '광주시',
       '춘천시', '부평구', '가평군', '아산시', '수원시', '여수시', '서귀포시', '양천구', '달서구',
       '진주시', '영암군', '안산시', '의정부시', '용인시', '김해시', '포항시', '김포시', '광명시',
       '문경시', '서초구', '서구', '원주시', '무안군', '시흥시', '연수구', '서천군', '청주시',
       '남양주시', '화성시', '하남시', '동구', '마포구', '강동구', '논산시', '세종시', '천안시',
       '사하구', '충주시', '안양시', '구미시', '양양군', '제주시', '홍천군', '전주시', '이천시',
       '중구', '은평구', '강서구', '용산구', '산청군', '군포시', '서대문구', '거제시', '달성군',
       '수성구', '과천시', '진도군', '영등포구', '평창군', '당진시', '성남시', '의령군', '남동구',
       '제천시', '부천시', '광산구', '익산시', '진안군', '경산시', '서산시', '파주시', '밀양시',
       '노원구', '성동구', '안동시', '의성군', '금정구', '곡성군', '해운대구', '강남구', '부산진구',
       '영주시', '음성군', '금천구', '송파구', '구리시', '관악구', '수영구', '동대문구', '장수군',
       '경주시', '보성군', '울릉군', '속초시', '인제군', '양주시', '울주군', '유성구', '옹진군',
       '오산시', '중랑구', '정읍시', '의왕시', '동작구', '고성군', '함평군', '김천시', '홍성군',
       '보령시', '부강면', '구례군', '청원군', '강북구', '당진군', '구로구', '강릉시', '여주군',
       '기장군', '나주시', '장성군', '사상구', '봉화군', '하동군', '성북구', '양평군', '고령군',
       '연제구', '고흥군', '순창군', '임실군', '창녕군', '광진구', '완주군', '담양군', '함안군',
       '영천시', '부안군', '성주군', '화천군', '강진군', '부여군', '장흥군', '군산시', '대덕구',
       '도봉구', '계양구', '여주시', '동두천시', '진구', '목포시', '남원시', '정선군', '종로구',
       '동해시', '철원군', '무주군', '괴산군', '포천시', '영광군', '청양군', '광양시', '진천군',
       '아산신', '완도군', '단양군', '함양군', '통영시', '화순군', '을주군', '광역시', '태백시',
       '영덕군', '칠곡군', '고창군', '청도군', '영월군', '횡성군', '옥천군', '예천군', '양구군',
       '합천군', '구로', '강화군', '울진군', '사천시', '삼척시', '공주시', '해남군', '태안군',
       '계룡시', '연천군', '남해군', '금산군', '영동군', '증평군', '영도구', '김제시', '거창군',
       '예산군', '보은군', '상주시'], dtype=object)

In [131]:
addr['시도군구'] = addr.apply(lambda r: r['시도'] + ' ' + r['군구'], axis=1)

addr.head() #작업 확인용 출력

      시도   군구      시도군구
0    경기도  안성시   경기도 안성시
1   경상남도  창원시  경상남도 창원시
2    경기도  평택시   경기도 평택시
3   전라남도  순천시  전라남도 순천시
4  인천광역시   남구  인천광역시 남구

In [132]:
addr['lot'] = 0  

addr.head() #작업 확인용 출력

      시도   군구      시도군구  lot
0    경기도  안성시   경기도 안성시    0
1   경상남도  창원시  경상남도 창원시    0
2    경기도  평택시   경기도 평택시    0
3   전라남도  순천시  전라남도 순천시    0
4  인천광역시   남구  인천광역시 남구    0

In [174]:
addr_group =pd.DataFrame(addr.groupby(['시도', '군구', '시도군구'], as_index=False).count())

addr_group.head()  #작업 확인용 출력

    시도   군구     시도군구  lot
0  강원도  강릉시  강원도 강릉시    5
1  강원도  고성군  강원도 고성군    1
2  강원도  동해시  강원도 동해시    2
3  강원도  삼척시  강원도 삼척시    1
4  강원도  속초시  강원도 속초시    3

In [183]:
addr_group.to_csv('./롯데리아_지역.csv', encoding='cp949')