In [15]:
import pandas as pd
pd.set_option('mode.chained_assignment',  None) # Warning 방지용
import numpy as np

data = pd.read_csv('./final/macdonald.csv', index_col=0, encoding='UTF-8', engine='python')

data.head() #작업내용 확인용 출력

        이름                                         주소
0  김포장기DT점         경기 김포시 김포한강1로 77-40(지번) 장기동 1911-2
1  김포감정DT점                경기 김포시 중봉로 19(지번) 감정동 506-2
2    연희DT점                인천 서구 서곶로 265(지번) 심곡동 255-2
3      강선점  경기 고양시 일산서구 대산로 113 백마프라자 1층(지번) 주엽동 51-1
4     정발산점   경기 고양시 일산동구 중앙로1275번길 38-5(지번) 장항동 770-2

In [16]:
addr = pd.DataFrame(data['주소'].apply(lambda v: v.split()[:2]).tolist(),columns=('시도', '군구'))

addr.head()  #작업내용 확인용 출력

   시도   군구
0  경기  김포시
1  경기  김포시
2  인천   서구
3  경기  고양시
4  경기  고양시

In [17]:
addr['시도'].unique()

array(['경기', '인천', '서울', '충남', '강원', '충북', '대전', '전북', '경북', '대구', '광주',
       '경남', '전남', '울산', '부산', '제주특별자치도'], dtype=object)

In [18]:
addr_aliases = {'경기':'경기도', '경남':'경상남도', '경북':'경상북도', '충북':'충청북도', '인천':'인천광역시', '서울':'서울특별시', '강원':'강원도', '울산':'울산광역시', '대구':'대구광역시', '광주':'광주광역시', '부산':'부산광역시', '대전':'대전광역시', '충남':'충청남도', '전남':'전라남도', '전북':'전라북도'}

In [19]:
addr['시도']= addr['시도'].apply(lambda v: addr_aliases.get(v, v))

In [20]:
addr['시도'].unique()

array(['경기도', '인천광역시', '서울특별시', '충청남도', '강원도', '충청북도', '대전광역시', '전라북도',
       '경상북도', '대구광역시', '광주광역시', '경상남도', '전라남도', '울산광역시', '부산광역시',
       '제주특별자치도'], dtype=object)

In [21]:
addr['군구'].unique()

array(['김포시', '서구', '고양시', '부평구', '강서구', '중구', '부천시', '남동구', '양천구',
       '미추홀구', '마포구', '연수구', '은평구', '구로구', '영등포구', '시흥시', '서대문구', '광명시',
       '양주시', '금천구', '동작구', '계양구', '관악구', '종로구', '용산구', '강북구', '성북구',
       '도봉구', '강남구', '노원구', '서초구', '성동구', '안양시', '의정부시', '안산시', '동대문구',
       '광진구', '송파구', '중랑구', '군포시', '강동구', '구리시', '의왕시', '과천시', '성남시',
       '수원시', '포천시', '용인시', '남양주시', '하남시', '동두천시', '화성시', '광주시', '오산시',
       '평택시', '이천시', '당진시', '춘천시', '천안시', '아산시', '안성시', '서산시', '원주시',
       '홍성군', '청주시', '충주시', '보령시', '대덕구', '제천시', '유성구', '동구', '논산시',
       '속초시', '군산시', '강릉시', '익산시', '전주시', '동해시', '구미시', '김천시', '정읍시',
       '북구', '수성구', '달서구', '남구', '달성군', '광산구', '영천시', '포항시', '경주시', '진주시',
       '밀양시', '순천시', '사천시', '목포시', '창원시', '광양시', '무안군', '양산시', '여수시',
       '울주군', '김해시', '금정구', '동래구', '부산진구', '연제구', '수영구', '기장군', '사하구',
       '해운대구', '사상구', '영도구', '통영시', '거제시', '제주시', '서귀포시'], dtype=object)

In [22]:
addr['시도군구'] = addr.apply(lambda r: r['시도'] + ' ' + r['군구'], axis=1)

addr.head() #작업 확인용 출력

      시도   군구      시도군구
0    경기도  김포시   경기도 김포시
1    경기도  김포시   경기도 김포시
2  인천광역시   서구  인천광역시 서구
3    경기도  고양시   경기도 고양시
4    경기도  고양시   경기도 고양시

In [23]:
addr['mc'] = 0  

addr.head() #작업 확인용 출력

      시도   군구      시도군구  mc
0    경기도  김포시   경기도 김포시   0
1    경기도  김포시   경기도 김포시   0
2  인천광역시   서구  인천광역시 서구   0
3    경기도  고양시   경기도 고양시   0
4    경기도  고양시   경기도 고양시   0

In [24]:
addr_group =pd.DataFrame(addr.groupby(['시도', '군구', '시도군구'], as_index=False).count())

addr_group.head()  #작업 확인용 출력

    시도   군구     시도군구  mc
0  강원도  강릉시  강원도 강릉시   1
1  강원도  동해시  강원도 동해시   1
2  강원도  속초시  강원도 속초시   1
3  강원도  원주시  강원도 원주시   2
4  강원도  춘천시  강원도 춘천시   2

In [25]:
addr_group.to_csv('./맥도날드_지역.csv', encoding='cp949')