In [1]:
import pandas as pd
pd.set_option('mode.chained_assignment',  None) # Warning 방지용
import numpy as np

data = pd.read_csv('./final/burgerKing.csv', index_col=0, encoding='UTF-8', engine='python')

data.head() #작업내용 확인용 출력

In [2]:
addr = pd.DataFrame(data['주소'].apply(lambda v: v.split()[:2]).tolist(),columns=('시도', '군구'))

addr.head()  #작업내용 확인용 출력

In [3]:
addr['시도'].unique()

In [4]:
addr_aliases = {'경기':'경기도', '경남':'경상남도', '경북':'경상북도', '충북':'충청북도', '서울시':'서울특별시', '부산':'부산광역시', '대전':'대전광역시', '충남':'충청남도', '전남':'전라남도', '전북':'전라북도'}

In [5]:
addr['시도']= addr['시도'].apply(lambda v: addr_aliases.get(v, v))

In [6]:
addr['시도'].unique()

In [7]:
addr_aliases = {'인천':'인천광역시', '서울':'서울특별시', '강원':'강원도', '울산':'울산광역시', '대구':'대구광역시', '광주':'광주광역시'}

In [8]:
addr['시도']= addr['시도'].apply(lambda v: addr_aliases.get(v, v))

In [9]:
addr['시도'].unique()

In [10]:
addr['군구'].unique()

In [11]:
addr[addr['군구'] == '보듬3로']

In [12]:
addr.iloc[272] = ['세종특별자치시', '세종시']
addr.iloc[272]

In [13]:
addr['군구'].unique()

In [14]:
addr[addr['군구'] == '보듬5로']

In [15]:
addr.iloc[268] = ['세종특별자치시', '세종시']
addr.iloc[268]

In [16]:
addr[addr['군구'] == '어울로']

In [17]:
addr.iloc[269] = ['세종특별자치시', '세종시']
addr.iloc[269]

In [18]:
addr[addr['군구'] == '한누리대로']

In [19]:
addr.iloc[274] = ['세종특별자치시', '세종시']
addr.iloc[274]
addr.iloc[441] = ['세종특별자치시', '세종시']
addr.iloc[441]

In [20]:
addr['군구'].unique()

array(['계양구', '강서구', '파주시', '중구', '미추홀구', '고양시', '부천시', '양천구', '남동구',
       '김포시', '마포구', '구로구', '은평구', '연수구', '서대문구', '영등포구', '금천구', '시흥시',
       '동작구', '종로구', '광명시', '관악구', '용산구', '강북구', '도봉구', '성동구', '성북구',
       '서초구', '노원구', '동대문구', '강남구', '의정부시', '안양시', '광진구', '군포시', '중랑구',
       '안산시', '남양주시', '하남시', '송파구', '구리시', '강동구', '양주시', '수원시', '동두천시',
       '과천시', '성남시', '용인시', '화성시', '포천시', '광주시', '오산시', '평택시', '양평군',
       '이천시', '안성시', '당진시', '천안시', '춘천시', '서산시', '원주시', '진천군', '홍성군',
       '음성군', '홍천군', '청주시', '조치원읍', '세종시', '충주시', '보령시', '유성구', '서구',
       '동구', '속초시', '군산시', '강릉시', '익산시', '전주시', '상주시', '안동시', '영주시',
       '김천시', '구미시', '북구', '정읍시', '달서구', '수성구', '달성군', '남구', '광산구', '경산시',
       '나주시', '포항시', '경주시', '진주시', '순천시', '창원시', '무안군', '목포시', '사천시',
       '광양시', '양산시', '김해시', '연제구', '부산진구', '금정구', '사상구', '여수시', '동래구',
       '해운대구', '사하구', '기장군', '거제시', '제주시', '부평구'], dtype=object)

In [21]:
addr[addr['군구'] == '조치원읍']

          시도    군구
264  세종특별자치시  조치원읍

In [22]:
addr.iloc[264] = ['세종특별자치시', '세종시']
addr.iloc[264]

시도    세종특별자치시
군구        세종시
Name: 264, dtype: object

In [23]:
addr['군구'].unique()

array(['계양구', '강서구', '파주시', '중구', '미추홀구', '고양시', '부천시', '양천구', '남동구',
       '김포시', '마포구', '구로구', '은평구', '연수구', '서대문구', '영등포구', '금천구', '시흥시',
       '동작구', '종로구', '광명시', '관악구', '용산구', '강북구', '도봉구', '성동구', '성북구',
       '서초구', '노원구', '동대문구', '강남구', '의정부시', '안양시', '광진구', '군포시', '중랑구',
       '안산시', '남양주시', '하남시', '송파구', '구리시', '강동구', '양주시', '수원시', '동두천시',
       '과천시', '성남시', '용인시', '화성시', '포천시', '광주시', '오산시', '평택시', '양평군',
       '이천시', '안성시', '당진시', '천안시', '춘천시', '서산시', '원주시', '진천군', '홍성군',
       '음성군', '홍천군', '청주시', '세종시', '충주시', '보령시', '유성구', '서구', '동구', '속초시',
       '군산시', '강릉시', '익산시', '전주시', '상주시', '안동시', '영주시', '김천시', '구미시',
       '북구', '정읍시', '달서구', '수성구', '달성군', '남구', '광산구', '경산시', '나주시', '포항시',
       '경주시', '진주시', '순천시', '창원시', '무안군', '목포시', '사천시', '광양시', '양산시',
       '김해시', '연제구', '부산진구', '금정구', '사상구', '여수시', '동래구', '해운대구', '사하구',
       '기장군', '거제시', '제주시', '부평구'], dtype=object)

In [24]:
addr['시도군구'] = addr.apply(lambda r: r['시도'] + ' ' + r['군구'], axis=1)

addr.head() #작업 확인용 출력

      시도   군구       시도군구
0  인천광역시  계양구  인천광역시 계양구
1  서울특별시  강서구  서울특별시 강서구
2  인천광역시  계양구  인천광역시 계양구
3    경기도  파주시    경기도 파주시
4  인천광역시   중구   인천광역시 중구

In [25]:
addr['king'] = 0  

addr.head() #작업 확인용 출력

      시도   군구       시도군구  king
0  인천광역시  계양구  인천광역시 계양구     0
1  서울특별시  강서구  서울특별시 강서구     0
2  인천광역시  계양구  인천광역시 계양구     0
3    경기도  파주시    경기도 파주시     0
4  인천광역시   중구   인천광역시 중구     0

In [26]:
addr_group =pd.DataFrame(addr.groupby(['시도', '군구', '시도군구'], as_index=False).count())

addr_group.head()  #작업 확인용 출력

    시도   군구     시도군구  king
0  강원도  강릉시  강원도 강릉시     1
1  강원도  속초시  강원도 속초시     1
2  강원도  원주시  강원도 원주시     3
3  강원도  춘천시  강원도 춘천시     2
4  강원도  홍천군  강원도 홍천군     2

In [27]:
addr_group.to_csv('./버거킹_지역.csv', encoding='cp949')