In [35]:
import pandas as pd
pd.set_option('mode.chained_assignment',  None) # Warning 방지용
import numpy as np

data = pd.read_csv('./final/subway.csv', index_col=0, encoding='UTF-8', engine='python')

data.head() #작업내용 확인용 출력

         이름                                             주소
0   인천계양구청점                   인천 계양구 계산새로 85(지번) 용종동 210-6
1   인천부평중앙점                 인천 부평구 부평문화로 63(지번) 부평동 212-67
2  인천부평시장역점                  인천 부평구 부흥로 264(지번) 부평동 529-40
3     인천삼산점                   인천 부평구 체육관로 24(지번) 삼산동 462-5
4     일산산들점  경기 고양시 일산서구 일중로 46 엑셀런트빌딩 103호(지번) 일산동 1681-1

In [36]:
addr = pd.DataFrame(data['주소'].apply(lambda v: v.split()[:2]).tolist(),columns=('시도', '군구'))

addr.head()  #작업내용 확인용 출력

   시도   군구
0  인천  계양구
1  인천  부평구
2  인천  부평구
3  인천  부평구
4  경기  고양시

In [37]:
addr['시도'].unique()

array(['인천', '경기', '서울', '충남', '충북', '세종특별자치시', '대전', '전북', '대구', '경남',
       '광주', '경북', '전남', '강원', '울산', '부산', '제주특별자치도'], dtype=object)

In [38]:
addr_aliases = {'경기':'경기도', '경남':'경상남도', '경북':'경상북도', '충북':'충청북도', '인천':'인천광역시', '서울':'서울특별시', '강원':'강원도', '울산':'울산광역시', '대구':'대구광역시', '광주':'광주광역시', '부산':'부산광역시', '대전':'대전광역시', '충남':'충청남도', '전남':'전라남도', '전북':'전라북도'}

In [39]:
addr['시도']= addr['시도'].apply(lambda v: addr_aliases.get(v, v))

In [40]:
addr['시도'].unique()

array(['인천광역시', '경기도', '서울특별시', '충청남도', '충청북도', '세종특별자치시', '대전광역시',
       '전라북도', '대구광역시', '경상남도', '광주광역시', '경상북도', '전라남도', '강원도', '울산광역시',
       '부산광역시', '제주특별자치도'], dtype=object)

In [41]:
addr['군구'].unique()

array(['계양구', '부평구', '고양시', '미추홀구', '부천시', '강서구', '중구', '남동구', '양천구',
       '마포구', '은평구', '연수구', '영등포구', '구로구', '서대문구', '금천구', '시흥시', '광명시',
       '종로구', '관악구', '동작구', '용산구', '강북구', '강남구', '성북구', '서초구', '노원구',
       '동대문구', '성동구', '의정부시', '도봉구', '안양시', '중랑구', '광진구', '안산시', '송파구',
       '군포시', '강동구', '양주시', '남양주시', '성남시', '의왕시', '수원시', '동두천시', '용인시',
       '하남시', '화성시', '오산시', '평택시', '당진시', '서산시', '천안시', '안성시', '아산시',
       '청주시', '절재로', '공주시', '한누리대로', '유성구', '서구', '대덕구', '동구', '군산시',
       '논산시', '전주시', '달서구', '북구', '수성구', '거창군', '남구', '광산구', '달성군', '경산시',
       '진주시', '나주시', '포항시', '목포시', '창원시', '태백시', '김해시', '울주군', '부산진구',
       '동래구', '연제구', '무안군', '양산시', '사상구', '기장군', '해운대구', '수영구', '금정구',
       '사하구', '제주시', '통영시', '거제시', '영도구'], dtype=object)

In [42]:
addr[addr['군구'] == '한누리대로']

          시도     군구
326  세종특별자치시  한누리대로

In [43]:
addr.iloc[326] = ['세종특별자치시', '세종시']

In [44]:
addr.iloc[2]

시도    세종특별자치시
군구        세종시
Name: 326, dtype: object

In [45]:
addr['시도'].unique()

array(['인천광역시', '경기도', '서울특별시', '충청남도', '충청북도', '세종특별자치시', '대전광역시',
       '전라북도', '대구광역시', '경상남도', '광주광역시', '경상북도', '전라남도', '강원도', '울산광역시',
       '부산광역시', '제주특별자치도'], dtype=object)

In [46]:
addr['군구'].unique()

array(['계양구', '부평구', '고양시', '미추홀구', '부천시', '강서구', '중구', '남동구', '양천구',
       '마포구', '은평구', '연수구', '영등포구', '구로구', '서대문구', '금천구', '시흥시', '광명시',
       '종로구', '관악구', '동작구', '용산구', '강북구', '강남구', '성북구', '서초구', '노원구',
       '동대문구', '성동구', '의정부시', '도봉구', '안양시', '중랑구', '광진구', '안산시', '송파구',
       '군포시', '강동구', '양주시', '남양주시', '성남시', '의왕시', '수원시', '동두천시', '용인시',
       '하남시', '화성시', '오산시', '평택시', '당진시', '서산시', '천안시', '안성시', '아산시',
       '청주시', '절재로', '공주시', '세종시', '유성구', '서구', '대덕구', '동구', '군산시', '논산시',
       '전주시', '달서구', '북구', '수성구', '거창군', '남구', '광산구', '달성군', '경산시', '진주시',
       '나주시', '포항시', '목포시', '창원시', '태백시', '김해시', '울주군', '부산진구', '동래구',
       '연제구', '무안군', '양산시', '사상구', '기장군', '해운대구', '수영구', '금정구', '사하구',
       '제주시', '통영시', '거제시', '영도구'], dtype=object)

In [47]:
addr[addr['군구'] == '울주군']

        시도   군구
415  울산광역시  울주군
461  울산광역시  울주군

In [48]:
addr['시도군구'] = addr.apply(lambda r: r['시도'] + ' ' + r['군구'], axis=1)

addr.head() #작업 확인용 출력

      시도   군구       시도군구
0  인천광역시  계양구  인천광역시 계양구
1  인천광역시  부평구  인천광역시 부평구
2  인천광역시  부평구  인천광역시 부평구
3  인천광역시  부평구  인천광역시 부평구
4    경기도  고양시    경기도 고양시

In [49]:
addr['sub'] = 0  

addr.head() #작업 확인용 출력

      시도   군구       시도군구  sub
0  인천광역시  계양구  인천광역시 계양구    0
1  인천광역시  부평구  인천광역시 부평구    0
2  인천광역시  부평구  인천광역시 부평구    0
3  인천광역시  부평구  인천광역시 부평구    0
4    경기도  고양시    경기도 고양시    0

In [50]:
addr_group =pd.DataFrame(addr.groupby(['시도', '군구', '시도군구'], as_index=False).count())

addr_group.head()  #작업 확인용 출력

    시도    군구      시도군구  sub
0  강원도   태백시   강원도 태백시    1
1  경기도   고양시   경기도 고양시   19
2  경기도   광명시   경기도 광명시    3
3  경기도   군포시   경기도 군포시    2
4  경기도  남양주시  경기도 남양주시    1

In [51]:
addr_group.to_csv('./서브웨이_지역.csv', encoding='cp949')